3A2M.csv
final_df
final_df.csv
join.py
join
matches_checkpoint.pkl
MM-Food-100K.csv
progress_state.pkl
test.py
venv
joined_result.csv
mm_food_metadata.pkl
mm_food_index.faiss
merged_food_dataset_faiss.csv
a2m_index.faiss
a2m_metadata.pkl
high_similarity_matches.csv