output_dir: ./outputs
leaderboard_json: ./outputs/nanobeir_leaderboard.json

#datasets: ["scifact"]
datasets:
  - "zeta-alpha-ai/NanoDBPedia"
  - "zeta-alpha-ai/NanoClimateFEVER"
  - "zeta-alpha-ai/NanoFiQA2018"
#datasets: ["scifact-nano"]
cost_per_1k:
  #qwen_embedding: 0.10  # <- set this to whatever your team uses
  vllm_api_encoder: 0.05

models:
  # baseline:
  #   hf_id: "BAAI/bge-base-en-v1.5"

  colqwen_baseline:
    hf_id: "vidore/colqwen2-v0.1"

  # vllm_api_encoder:
  #   model_name: Qwen/Qwen3-Embedding-0.6b 
  #   base_url: http://172.24.16.155:8000/v1
  #   max_len: 512